@model ICollection<Web.Models.Ticket>

@{
    ViewData["Title"] = "MyPurchasedTickets";
}

<h1>My Purchased Tickets</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Concert
            </th>
            <th>
                NumberOfPeople
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Concert.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfPeople)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Concert.Price)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>Total price: @Model.Select(t => t.Concert.Price).Sum()</p>